# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# IDEs and editors
.idea

# Dependency directories
node_modules

# Optional npm cache directory
.package-lock.json

# Dump files directory
dump